form.new-todo(ng-submit="addTodo()")
  select.todo-type(ng-model='todoType', ng-options='item.value group by item.group for item in todoTypes')
  input.new-todo(placeholder='Describe your todo', ng-model='todoDescription', type='text')
  button.btn.btn-primary(type='submit') Add
